workflows/n8n/content-generate.json
{
  "name": "WF1: Content Generate",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "1", "name": "topic", "value": "AI đang thay đổi cách developers làm việc", "type": "string"},
            {"id": "2", "name": "pillar", "value": "tech_insights", "type": "string"},
            {"id": "3", "name": "content_type", "value": "thought_leadership", "type": "string"},
            {"id": "4", "name": "context", "value": "Focus on practical tools and daily impact", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt, user_prompt_template FROM prompts WHERE pillar = '{{ $json.pillar }}' AND is_active = true LIMIT 1"
      },
      "id": "get-prompt",
      "name": "Get Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - Social Automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $('Set Input').first().json;\nconst prompt = $input.first().json;\n\nlet userPrompt = prompt.user_prompt_template;\nuserPrompt = userPrompt.replace('{{topic}}', input.topic);\nuserPrompt = userPrompt.replace('{{context}}', input.context || '');\n\nreturn [{\n  json: {\n    system_prompt: prompt.system_prompt,\n    user_prompt: userPrompt,\n    topic: input.topic,\n    pillar: input.pillar,\n    content_type: input.content_type\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1:8b\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"{{ $json.system_prompt }}\"},\n    {\"role\": \"user\", \"content\": \"{{ $json.user_prompt }}\"}\n  ],\n  \"stream\": false\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-ollama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ollamaResponse = $input.first().json;\nconst preparedData = $('Prepare Prompt').first().json;\n\nconst content = ollamaResponse.message?.content || 'Generation failed - no content returned';\n\nreturn [{\n  json: {\n    title: preparedData.topic,\n    platform: 'linkedin',\n    pillar: preparedData.pillar,\n    content_type: preparedData.content_type,\n    generated_content: content,\n    status: 'pending_review'\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO content_queue (title, platform, pillar, content_type, generated_content, status) VALUES ('{{ $json.title }}', '{{ $json.platform }}', '{{ $json.pillar }}', '{{ $json.content_type }}', '{{ $json.generated_content }}', '{{ $json.status }}') RETURNING id"
      },
      "id": "save-to-db",
      "name": "Save to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - Social Automation"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📝 *New Content Ready for Review*\n\n*Title:* {{ $('Parse Response').first().json.title }}\n*Pillar:* {{ $('Parse Response').first().json.pillar }}\n*Status:* Pending Review\n\n_Review at:_ http://localhost:5678",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1640, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Set Input", "type": "main", "index": 0}]]},
    "Set Input": {"main": [[{"node": "Get Prompt", "type": "main", "index": 0}]]},
    "Get Prompt": {"main": [[{"node": "Prepare Prompt", "type": "main", "index": 0}]]},
    "Prepare Prompt": {"main": [[{"node": "Call Ollama", "type": "main", "index": 0}]]},
    "Call Ollama": {"main": [[{"node": "Parse Response", "type": "main", "index": 0}]]},
    "Parse Response": {"main": [[{"node": "Save to DB", "type": "main", "index": 0}]]},
    "Save to DB": {"main": [[{"node": "Notify Telegram", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{"name": "content"}, {"name": "generation"}]
}
