workflows/n8n/healthcheck.json
{
  "name": "WF5: Healthcheck",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 5}]
        }
      },
      "id": "every-5min",
      "name": "Every 5 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 380]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/tags",
        "options": {"timeout": 5000}
      },
      "id": "check-ollama",
      "name": "Check Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 220],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 as health, NOW() as checked_at"
      },
      "id": "check-postgres",
      "name": "Check Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 380],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Social Automation"}},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://redis:6379",
        "options": {"timeout": 5000}
      },
      "id": "check-redis",
      "name": "Check Redis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 540],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [600, 380]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ollamaResult = $('Check Ollama').first();\nconst postgresResult = $('Check Postgres').first();\n\nconst ollamaOk = !ollamaResult.error && ollamaResult.json.models !== undefined;\nconst postgresOk = !postgresResult.error && postgresResult.json.health === 1;\n\nconst allHealthy = ollamaOk && postgresOk;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    ollama: ollamaOk,\n    postgres: postgresOk,\n    allHealthy,\n    timestamp\n  }\n}];"
      },
      "id": "evaluate",
      "name": "Evaluate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": ""},
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.allHealthy }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals", "singleValue": true}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-healthy",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_name, status, message) VALUES ('healthcheck', 'success', 'All services healthy at {{ $json.timestamp }}')"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 280],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Social Automation"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_name, status, message, details) VALUES ('healthcheck', 'error', 'Service unhealthy at {{ $json.timestamp }}', '{{ JSON.stringify({ollama: $json.ollama, postgres: $json.postgres}) }}')"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 420],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Social Automation"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=\ud83d\udea8 *Service Health Alert*\n\n*Time:* {{ $json.timestamp }}\n\n*Service Status:*\n\u2022 Ollama: {{ $json.ollama ? '\u2705 Healthy' : '\u274c DOWN' }}\n\u2022 PostgreSQL: {{ $json.postgres ? '\u2705 Healthy' : '\u274c DOWN' }}\n\n\u26a0\ufe0f _Please check immediately!_",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "alert",
      "name": "Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1440, 480],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    }
  ],
  "connections": {
    "Every 5 Min": {"main": [[
      {"node": "Check Ollama", "type": "main", "index": 0},
      {"node": "Check Postgres", "type": "main", "index": 0},
      {"node": "Check Redis", "type": "main", "index": 0}
    ]]},
    "Check Ollama": {"main": [[{"node": "Merge", "type": "main", "index": 0}]]},
    "Check Postgres": {"main": [[{"node": "Merge", "type": "main", "index": 1}]]},
    "Check Redis": {"main": [[{"node": "Merge", "type": "main", "index": 2}]]},
    "Merge": {"main": [[{"node": "Evaluate", "type": "main", "index": 0}]]},
    "Evaluate": {"main": [[{"node": "Is Healthy?", "type": "main", "index": 0}]]},
    "Is Healthy?": {
      "main": [
        [{"node": "Log Success", "type": "main", "index": 0}],
        [{"node": "Log Error", "type": "main", "index": 0}]
      ]
    },
    "Log Error": {"main": [[{"node": "Alert", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "monitoring"}, {"name": "healthcheck"}]
}
