modules/novel/workflows/novel-translate.json
{
  "name": "Novel Translate: Chinese → Vietnamese",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "1", "name": "novel_name", "value": "阵问长生", "type": "string"},
            {"id": "2", "name": "chapter_number", "value": "1", "type": "number"}
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title_cn, title_vn, author, base_url, source_site FROM novel_registry WHERE title_cn = '{{ $json.novel_name }}' LIMIT 1"
      },
      "id": "lookup-novel",
      "name": "Lookup Novel",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT translated_text, chapter_title FROM translation_history WHERE novel_id = {{ $json.id }} AND chapter_number = {{ $('Set Input').first().json.chapter_number }} AND status = 'completed' LIMIT 1"
      },
      "id": "check-cache",
      "name": "Check Cache",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [840, 300],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {"leftValue": "={{ $json.translated_text }}", "rightValue": "", "operator": {"type": "string", "operation": "isNotEmpty"}}
          ]
        }
      },
      "id": "is-cached",
      "name": "Is Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📖 *{{ $('Lookup Novel').first().json.title_cn }} - {{ $('Lookup Novel').first().json.title_vn }}*\n📑 *Chương {{ $('Set Input').first().json.chapter_number }}: {{ $json.chapter_title }}*\n👤 {{ $('Lookup Novel').first().json.author }}\n📦 _Từ cache_\n\n---\n\n{{ $json.translated_text.substring(0, 4000) }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "reply-cached",
      "name": "Reply Cached",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1240, 200],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⏳ Đang dịch *{{ $('Lookup Novel').first().json.title_vn }}* - Chương {{ $('Set Input').first().json.chapter_number }}...\n_Vui lòng chờ 30-60 giây_",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "notify-translating",
      "name": "Notify Translating",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1240, 400],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "url": "={{ $('Lookup Novel').first().json.base_url }}",
        "options": {"timeout": 15000}
      },
      "id": "fetch-chapter-list",
      "name": "Fetch Chapter List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\nconst chapterNum = $('Set Input').first().json.chapter_number;\n\n// Extract chapter links from HTML\nconst linkPattern = /href=[\"']([^\"']*\\/(\\d+)\\.html)[\"'][^>]*>([^<]*第[^<]*章[^<]*)/gi;\nconst chapters = [];\nlet match;\n\nwhile ((match = linkPattern.exec(html)) !== null) {\n  chapters.push({\n    url: match[1],\n    id: match[2],\n    title: match[3].trim()\n  });\n}\n\n// Find target chapter\nconst target = chapters[chapterNum - 1];\n\nif (!target) {\n  return [{ json: { error: `Chapter ${chapterNum} not found. Total chapters: ${chapters.length}` } }];\n}\n\nconst baseUrl = $('Lookup Novel').first().json.base_url;\nconst fullUrl = target.url.startsWith('http') ? target.url : baseUrl + target.url.split('/').pop();\n\nreturn [{ json: { chapter_url: fullUrl, chapter_title: target.title, chapter_number: chapterNum } }];"
      },
      "id": "parse-chapter-url",
      "name": "Parse Chapter URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 400]
    },
    {
      "parameters": {
        "url": "={{ $json.chapter_url }}",
        "options": {"timeout": 15000}
      },
      "id": "fetch-chapter",
      "name": "Fetch Chapter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\n\n// Extract main content - remove HTML tags, scripts, styles\nlet text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, '\\n')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&amp;/g, '&')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\n// Remove common noise patterns\ntext = text\n  .replace(/.*书海阁.*\\n?/g, '')\n  .replace(/.*shuhaige.*\\n?/g, '')\n  .replace(/.*上一章.*下一章.*/g, '')\n  .replace(/.*加入书签.*/g, '')\n  .replace(/.*返回目录.*/g, '')\n  .trim();\n\n// Find the actual chapter content (usually between specific markers)\nconst lines = text.split('\\n').filter(l => l.trim().length > 0);\n\n// Remove first few lines (navigation) and last few (ads)\nconst contentLines = lines.filter(line => {\n  const l = line.trim();\n  return l.length > 10 && !l.includes('书海阁') && !l.includes('上一章') && !l.includes('下一章') && !l.includes('加入书签');\n});\n\nconst chapterText = contentLines.join('\\n\\n');\nconst chapterInfo = $('Parse Chapter URL').first().json;\n\nreturn [{\n  json: {\n    chapter_text: chapterText,\n    chapter_title: chapterInfo.chapter_title,\n    chapter_number: chapterInfo.chapter_number,\n    chapter_url: chapterInfo.chapter_url,\n    char_count: chapterText.length\n  }\n}];"
      },
      "id": "extract-text",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT term_cn, term_vn FROM translation_glossary WHERE genre = 'xianxia' ORDER BY LENGTH(term_cn) DESC LIMIT 50"
      },
      "id": "get-glossary",
      "name": "Get Glossary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2240, 400],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const glossaryItems = $input.all().map(i => i.json);\nconst chapterData = $('Extract Text').first().json;\n\n// Build glossary string for prompt\nconst glossaryStr = glossaryItems.map(g => `${g.term_cn} → ${g.term_vn}`).join('\\n');\n\nconst systemPrompt = `你是一位专业的中越文学翻译家，专注于仙侠/玄幻小说翻译。\n\n翻译要求：\n1. 保持原文的文学风格和韵味\n2. 人称代词：他→hắn（男性）, 她→nàng（女性）\n3. 使用下方术语表翻译专有名词，未在表中的保留原文并注音\n4. 保留原文段落结构\n5. 不添加解释或注释\n6. 翻译成自然流畅的越南语\n\n术语表：\n${glossaryStr}`;\n\nconst userPrompt = `请将以下中文小说章节翻译成越南语：\n\n${chapterData.chapter_text}`;\n\nreturn [{\n  json: {\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt,\n    chapter_title: chapterData.chapter_title,\n    chapter_number: chapterData.chapter_number,\n    chapter_url: chapterData.chapter_url,\n    original_text: chapterData.chapter_text,\n    char_count: chapterData.char_count\n  }\n}];"
      },
      "id": "prepare-translate",
      "name": "Prepare Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"qwen2:7b\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": $json.system_prompt},\n    {\"role\": \"user\", \"content\": $json.user_prompt}\n  ],\n  \"stream\": false,\n  \"options\": {\"num_ctx\": 8192}\n} }}",
        "options": {"timeout": 300000}
      },
      "id": "translate",
      "name": "Translate (Qwen2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function escapeSql(str) { return str ? str.replace(/'/g, \"''\") : ''; }\n\nconst response = $input.first().json;\nconst prepData = $('Prepare Translation').first().json;\nconst novelData = $('Lookup Novel').first().json;\n\nconst translatedText = response.message?.content || 'Translation failed';\n\nreturn [{\n  json: {\n    novel_id: novelData.id,\n    title_cn: novelData.title_cn,\n    title_vn: novelData.title_vn,\n    author: novelData.author,\n    chapter_number: prepData.chapter_number,\n    chapter_title: escapeSql(prepData.chapter_title),\n    chapter_url: escapeSql(prepData.chapter_url),\n    original_text: escapeSql(prepData.original_text),\n    translated_text: escapeSql(translatedText),\n    translated_text_raw: translatedText,\n    char_count: prepData.char_count\n  }\n}];"
      },
      "id": "parse-translation",
      "name": "Parse Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO translation_history (novel_id, chapter_number, chapter_title, source_url, original_text, translated_text, char_count, status) VALUES ({{ $json.novel_id }}, {{ $json.chapter_number }}, '{{ $json.chapter_title }}', '{{ $json.chapter_url }}', '{{ $json.original_text }}', '{{ $json.translated_text }}', {{ $json.char_count }}, 'completed') ON CONFLICT (novel_id, chapter_number) DO UPDATE SET translated_text = EXCLUDED.translated_text, status = 'completed'"
      },
      "id": "save-translation",
      "name": "Save Translation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3040, 400],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('Parse Translation').first().json;\nconst text = data.translated_text_raw;\n\n// Telegram max 4096 chars - split into messages\nconst MAX_LEN = 3800;\nconst messages = [];\n\n// First message with header\nlet header = `📖 *${data.title_cn} - ${data.title_vn}*\\n`;\nheader += `📑 *Chương ${data.chapter_number}: ${data.chapter_title.replace(/'/g, '')}*\\n`;\nheader += `👤 ${data.author}\\n\\n---\\n\\n`;\n\nif (header.length + text.length <= MAX_LEN) {\n  messages.push(header + text + `\\n\\n---\\n📊 ${data.char_count} chữ | 🤖 Qwen2 7B`);\n} else {\n  // Split text into chunks\n  const chunks = [];\n  let remaining = text;\n  while (remaining.length > 0) {\n    if (remaining.length <= MAX_LEN - 200) {\n      chunks.push(remaining);\n      break;\n    }\n    // Find paragraph break near limit\n    let splitAt = remaining.lastIndexOf('\\n\\n', MAX_LEN - 200);\n    if (splitAt < MAX_LEN / 2) splitAt = remaining.lastIndexOf('\\n', MAX_LEN - 200);\n    if (splitAt < MAX_LEN / 2) splitAt = MAX_LEN - 200;\n    chunks.push(remaining.substring(0, splitAt));\n    remaining = remaining.substring(splitAt).trim();\n  }\n  \n  messages.push(header + chunks[0]);\n  for (let i = 1; i < chunks.length; i++) {\n    if (i === chunks.length - 1) {\n      messages.push(chunks[i] + `\\n\\n---\\n📊 ${data.char_count} chữ | 🤖 Qwen2 7B`);\n    } else {\n      messages.push(chunks[i]);\n    }\n  }\n}\n\nreturn messages.map((msg, i) => ({ json: { message: msg, part: i + 1, total: messages.length } }));"
      },
      "id": "split-messages",
      "name": "Split Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3240, 400]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-translation",
      "name": "Send Translation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3440, 400],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Set Input", "type": "main", "index": 0}]]},
    "Set Input": {"main": [[{"node": "Lookup Novel", "type": "main", "index": 0}]]},
    "Lookup Novel": {"main": [[{"node": "Check Cache", "type": "main", "index": 0}]]},
    "Check Cache": {"main": [[{"node": "Is Cached?", "type": "main", "index": 0}]]},
    "Is Cached?": {
      "main": [
        [{"node": "Reply Cached", "type": "main", "index": 0}],
        [{"node": "Notify Translating", "type": "main", "index": 0}]
      ]
    },
    "Notify Translating": {"main": [[{"node": "Fetch Chapter List", "type": "main", "index": 0}]]},
    "Fetch Chapter List": {"main": [[{"node": "Parse Chapter URL", "type": "main", "index": 0}]]},
    "Parse Chapter URL": {"main": [[{"node": "Fetch Chapter", "type": "main", "index": 0}]]},
    "Fetch Chapter": {"main": [[{"node": "Extract Text", "type": "main", "index": 0}]]},
    "Extract Text": {"main": [[{"node": "Get Glossary", "type": "main", "index": 0}]]},
    "Get Glossary": {"main": [[{"node": "Prepare Translation", "type": "main", "index": 0}]]},
    "Prepare Translation": {"main": [[{"node": "Translate (Qwen2)", "type": "main", "index": 0}]]},
    "Translate (Qwen2)": {"main": [[{"node": "Parse Translation", "type": "main", "index": 0}]]},
    "Parse Translation": {"main": [[{"node": "Save Translation", "type": "main", "index": 0}]]},
    "Save Translation": {"main": [[{"node": "Split Messages", "type": "main", "index": 0}]]},
    "Split Messages": {"main": [[{"node": "Send Translation", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "translation"}, {"name": "novel"}, {"name": "chinese"}]
}
