modules/social/workflows/facebook-post.json
{
  "name": "WF7: Facebook Auto-Post",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, final_content, platform FROM content_queue WHERE status = 'approved' AND platform LIKE 'facebook%' ORDER BY created_at ASC LIMIT 1"
      },
      "id": "get-content",
      "name": "Get Approved Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {"leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "isNotEmpty"}}
          ]
        }
      },
      "id": "has-content",
      "name": "Has Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": $json.final_content, \"access_token\": $env.FACEBOOK_PAGE_TOKEN } }}",
        "options": {"timeout": 30000}
      },
      "id": "post-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE content_queue SET status = 'published', published_date = NOW(), post_url = 'https://facebook.com/{{ $json.id }}' WHERE id = {{ $('Get Approved Content').first().json.id }}"
      },
      "id": "update-status",
      "name": "Update Published",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1080, 240],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🚀 *Đã đăng bài Facebook!*\n\n*Title:* {{ $('Get Approved Content').first().json.title }}\n*Platform:* {{ $('Get Approved Content').first().json.platform }}\n\n✅ Status: Published",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 240],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=ℹ️ Không có bài nào approved cho Facebook.\nDùng /pending để xem bài chờ review.",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "no-content",
      "name": "No Content",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 400],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Get Approved Content", "type": "main", "index": 0}]]},
    "Get Approved Content": {"main": [[{"node": "Has Content?", "type": "main", "index": 0}]]},
    "Has Content?": {
      "main": [
        [{"node": "Post to Facebook", "type": "main", "index": 0}],
        [{"node": "No Content", "type": "main", "index": 0}]
      ]
    },
    "Post to Facebook": {"main": [[{"node": "Update Published", "type": "main", "index": 0}]]},
    "Update Published": {"main": [[{"node": "Notify Success", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "publishing"}, {"name": "facebook"}]
}
