modules/social/workflows/linkedin-post-helper.json
{
  "name": "WF8: LinkedIn Post Helper",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, final_content, pillar FROM content_queue WHERE status = 'approved' AND platform = 'linkedin' ORDER BY created_at ASC LIMIT 1"
      },
      "id": "get-content",
      "name": "Get LinkedIn Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {"leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "isNotEmpty"}}
          ]
        }
      },
      "id": "has-content",
      "name": "Has Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📋 *LinkedIn Post Ready - #{{ $json.id }}*\n\n*Title:* {{ $json.title }}\n*Pillar:* {{ $json.pillar }}\n\n---\n\n{{ $json.final_content }}\n\n---\n\n📌 *Hướng dẫn đăng bài:*\n1. Copy nội dung phía trên\n2. Mở LinkedIn → Create a post\n3. Paste nội dung\n4. Review và đăng bài\n5. Sau khi đăng, dùng lệnh:\n   /published {{ $json.id }} <URL bài viết>",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-content",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 240],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=ℹ️ Không có bài LinkedIn nào approved.\nDùng /pending để xem bài chờ review.",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "no-content",
      "name": "No Content",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [860, 400],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Get LinkedIn Content", "type": "main", "index": 0}]]},
    "Get LinkedIn Content": {"main": [[{"node": "Has Content?", "type": "main", "index": 0}]]},
    "Has Content?": {
      "main": [
        [{"node": "Send to Telegram", "type": "main", "index": 0}],
        [{"node": "No Content", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "publishing"}, {"name": "linkedin"}]
}
