modules/social/workflows/quiz-generator.json
{
  "name": "WF11: Quiz Content Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "1", "name": "topic", "value": "AWS S3 Storage Classes", "type": "string"},
            {"id": "2", "name": "quiz_type", "value": "quiz_aws", "type": "string"},
            {"id": "3", "name": "platform", "value": "linkedin", "type": "string"},
            {"id": "4", "name": "difficulty", "value": "intermediate", "type": "string"},
            {"id": "5", "name": "comment_delay_hours", "value": "4", "type": "number"}
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt, user_prompt_template FROM prompts WHERE name = '{{ $json.quiz_type }}' AND is_active = true LIMIT 1"
      },
      "id": "get-prompt",
      "name": "Get Quiz Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $('Set Input').first().json;\nconst prompt = $input.first().json;\n\nlet userPrompt = prompt.user_prompt_template;\nuserPrompt = userPrompt.replace('{{topic}}', input.topic);\nuserPrompt = userPrompt.replace('{{context}}', input.difficulty || 'intermediate');\n\nreturn [{\n  json: {\n    system_prompt: prompt.system_prompt,\n    user_prompt: userPrompt,\n    topic: input.topic,\n    platform: input.platform,\n    quiz_type: input.quiz_type,\n    comment_delay_hours: input.comment_delay_hours || 4\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama3.1:8b\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": $json.system_prompt},\n    {\"role\": \"user\", \"content\": $json.user_prompt}\n  ],\n  \"stream\": false\n} }}",
        "options": {"timeout": 120000}
      },
      "id": "call-ollama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function escapeSql(str) {\n  if (!str) return '';\n  return str.replace(/'/g, \"''\");\n}\n\nconst ollamaResponse = $input.first().json;\nconst prepData = $('Prepare Prompt').first().json;\nconst rawContent = ollamaResponse.message?.content || '{}';\n\n// Try to parse JSON from Ollama response\nlet quizData;\ntry {\n  // Remove markdown code blocks if present\n  const cleaned = rawContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  quizData = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { error: 'Failed to parse quiz JSON: ' + e.message, raw: rawContent } }];\n}\n\n// Format the post text (question only, no answer)\nlet postText = '';\nif (quizData.question_scenario) {\n  postText += quizData.question_scenario + '\\n\\n';\n}\npostText += quizData.question + '\\n\\n';\npostText += 'A. ' + quizData.options.A + '\\n';\npostText += 'B. ' + quizData.options.B + '\\n';\npostText += 'C. ' + quizData.options.C + '\\n';\npostText += 'D. ' + quizData.options.D + '\\n\\n';\npostText += '💬 Comment đáp án của bạn!\\n';\npostText += '⏰ Đáp án sẽ được công bố sau ' + prepData.comment_delay_hours + ' giờ\\n\\n';\npostText += '#' + (quizData.tags || ['TechQuiz']).join(' #');\n\n// Format the answer comment\nlet answerText = '✅ Đáp án: ' + quizData.correct_answer + '\\n\\n';\nanswerText += '📖 Giải thích:\\n' + quizData.explanation + '\\n\\n';\nif (quizData.wrong_explanations) {\n  Object.entries(quizData.wrong_explanations).forEach(([key, val]) => {\n    answerText += '❌ ' + key + ': ' + val + '\\n';\n  });\n  answerText += '\\n';\n}\nif (quizData.key_concepts && quizData.key_concepts.length > 0) {\n  answerText += '💡 Key concepts:\\n';\n  quizData.key_concepts.forEach(c => {\n    answerText += '• ' + c.name + ': ' + c.description + '\\n';\n  });\n}\nanswerText += '\\n🔖 Save bài này để ôn thi!';\n\n// Build quiz_answer JSON for DB\nconst quizAnswerJson = JSON.stringify({\n  correct_answer: quizData.correct_answer,\n  explanation: quizData.explanation,\n  wrong_explanations: quizData.wrong_explanations || {},\n  key_concepts: quizData.key_concepts || [],\n  formatted_comment: answerText\n});\n\nreturn [{\n  json: {\n    title: escapeSql(prepData.topic),\n    platform: escapeSql(prepData.platform),\n    pillar: 'tech_insights',\n    content_type: 'quiz',\n    generated_content: escapeSql(postText),\n    quiz_answer: quizAnswerJson,\n    comment_delay_hours: prepData.comment_delay_hours,\n    status: 'pending_review',\n    answer_preview: answerText\n  }\n}];"
      },
      "id": "parse-quiz",
      "name": "Parse Quiz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO content_queue (title, platform, pillar, content_type, generated_content, quiz_answer, content_format, comment_scheduled_at, status) VALUES ('{{ $json.title }}', '{{ $json.platform }}', '{{ $json.pillar }}', '{{ $json.content_type }}', '{{ $json.generated_content }}', '{{ $json.quiz_answer }}'::jsonb, 'quiz', NOW() + INTERVAL '{{ $json.comment_delay_hours }} hours', '{{ $json.status }}') RETURNING id"
      },
      "id": "save-quiz",
      "name": "Save Quiz",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 300],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Agent Personal"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📝 *Quiz Created - #{{ $json.id }}*\n\n*Topic:* {{ $('Set Input').first().json.topic }}\n*Platform:* {{ $('Set Input').first().json.platform }}\n*Difficulty:* {{ $('Set Input').first().json.difficulty }}\n*Auto-comment:* sau {{ $('Set Input').first().json.comment_delay_hours }}h\n\n---\n\n{{ $('Parse Quiz').first().json.generated_content }}\n\n---\n\n_Preview đáp án:_\n{{ $('Parse Quiz').first().json.answer_preview }}\n\n---\n✅ /approve {{ $json.id }} | ❌ /reject {{ $json.id }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "notify",
      "name": "Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1640, 300],
      "credentials": {"telegramApi": {"id": "1", "name": "Telegram Bot"}}
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Set Input", "type": "main", "index": 0}]]},
    "Set Input": {"main": [[{"node": "Get Quiz Prompt", "type": "main", "index": 0}]]},
    "Get Quiz Prompt": {"main": [[{"node": "Prepare Prompt", "type": "main", "index": 0}]]},
    "Prepare Prompt": {"main": [[{"node": "Call Ollama", "type": "main", "index": 0}]]},
    "Call Ollama": {"main": [[{"node": "Parse Quiz", "type": "main", "index": 0}]]},
    "Parse Quiz": {"main": [[{"node": "Save Quiz", "type": "main", "index": 0}]]},
    "Save Quiz": {"main": [[{"node": "Notify", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "quiz"}, {"name": "content"}]
}
